doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/css/styles.css')
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="/js/main.js" type="module")
  body
    block content